body {
    background: linear-gradient(-90deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}



body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}


h1 {
  font-size: 3rem;
  color: #e2dbdb ;
}


hr {
  border-color: red;
  border-width: 1px;
  max-width: 300px;
}


.btn {
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
}

.btn-dark:hover {
  border-width: 4px;
}

.btn-xl {
  padding: 5rem 10rem;
}